<!--<div class="div1">
  <form action="" method="">
    <label for="user">Username</label>
    <input [(ngModel)]="user" type="text"><br>
    <label for="pass">Password</label>
    <input [(ngModel)]="pass" type="text"><br>
    <button type="submit" (click)="check()" name="">Submit</button>
  </form>
</div>
<input type="text" [(ngModel)]="name"/>
<button (click)="postData()">Post Data</button>
<router-outlet></router-outlet>-->
<a routerLink='/department' routerLinkActive='active'>Departments</a>
<a routerLink='/student' routerLinkActive='active'>Student</a>
<router-outlet></router-outlet>